<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- Customer form Group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2 h6"><label>First Name</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName.invalid && (firstName.dirty|| firstName.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="firstName.errors.required">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName.errors.minLength">First Name must be 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Last Name</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName.invalid && (lastName.dirty|| lastName.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="lastName.errors.required">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName.errors.minLength">Last Name must be 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Email Id</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email.invalid && (email.dirty|| email.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="email.errors.required">
                                        Email Id is required
                                    </div>
                                    <div *ngIf="email.errors.pattern">Email must be in valid Format</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Country</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Street</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>City</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 h6"><label>State</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Zip Code</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add CheckBox to copy shipping address to billing address -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>

                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Country</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Street</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>City</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 h6"><label>State</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Zip Code</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Card Type</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option value="Visa">Visa</option>
                                    <option value="Mastercard">Mastercard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Name on Card</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Card Number</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Security Code</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Expiration Month</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 h6"><label>Expiration Year</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Order Details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{totalQuantity}}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{totalPrice | currency:'USD'}}</p>
                </div>


                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>