<div class="main-content">
    <div class="section-content section-content-p30">

        <h4>Category: {{currentCategoryName}}</h4>
        <div class="container-fluid">
            <div class="row">

                <!-- Loop Over collections of products-->
                <div *ngFor="let tempProduct of products" class="col-md-3">

                    <div class="product-box">

                        <a routerLink="/products/{{tempProduct.id}}" routerLinkActive="router-link-active">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        </a>

                        <a routerLink="/products/{{tempProduct.id}}" routerLinkActive="router-link-active">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>

                        <div class="price">
                            {{ tempProduct.unitPrice | currency:'USD'}}
                        </div>
                        <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to Cart</button>
                    </div>
                </div>

                <!-- if products empty then display a message -->
                <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
                    NO PRODUCTS FOUND.
                </div>


            </div>
        </div>
    </div>
</div>