<div class="main-content text-center">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <header class="jumbotron">
                <h3>{{ content }}</h3>
                <hr>
                <div>
                    <button class="btn btn-outline-dark m-2" routerLink="/login">Login Here </button>
                    <button class="btn btn-outline-dark m-2" (click)="gotoregistration()"> New User ?
                        Register Here
                    </button>
                </div>
            </header>
        </div>
    </div>
</div>